* {
    clear: both;
}

body {
    font-family: 'Raleway', sans-serif; /*www.google.com/fonts*/
    font-weight: 400;
    font-size: 16px;
    min-height: 800px;
    background-color: #a7100c;
    /*background: url('images/per.jpg') #a7100c;
    background-repeat: no-repeat;
    background-position-x: right;*/
    color: #fff;
}
.selfie {
    opacity: 0.2;
    position: fixed;
    top: -100px;
    left: -180px;
    z-index: -1;
}

h1 {
    font-size: 26px;
    font-weight: 800;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 36px;
    }
}


.spacer {
    min-height: 24px;
}

.alternative {
    clear: both;
    display: block;
}

.quiz-result {
    display: inline-block;
    border: 1px dotted white;
    padding: 6px 24px;
    margin: 12px;
}

.quiz_btn {
    display: block;
    line-height: 41px;
    border: 2px solid #fff;
    max-width: 150px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
}

    .quiz_btn:active {
        background: #4DCB6D;
    }

.img-alternative {
    width: 20px;
    margin-left: 10px;
}

input[type=text] {
    font-weight: bold;
    font-size: 24px;
    max-width: 250px;
    color: #333;
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

label {
    min-width: 200px;
    padding-right: 14px;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
}

/* hide input */
input.radio:empty {
    margin-left: -999px;
}

    /* style label */
    input.radio:empty ~ label {
        position: relative;
        float: left;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        input.radio:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
