* {
    clear: both;
}

body {
    font-family: 'Raleway', sans-serif; /*www.google.com/fonts*/
    font-weight: 400;
    font-size: 16px;
    min-height: 800px;
    background-repeat: no-repeat;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

h1 {
    font-size: 26px;
    font-weight: 800;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 36px;
    }
}

body {
    font-family: sans-serif;
    font-weight: normal;
    margin: 10px;
    color: #333;
    background-color: #eee;
}

.spacer {
    min-height: 24px;
}

.alternative {
    clear: both;
    display: block;
}


.quiz_btn {
    display: block;
    line-height: 41px;
    border: 2px solid gray;
    max-width: 150px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
}

    .quiz_btn:active {
        background: #4DCB6D;
    }


input[type=text] {
    font-weight: bold;
    font-size: 24px;
    max-width: 250px;
    color: #328848;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

label {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
}

/* hide input */
input.radio:empty {
    margin-left: -999px;
}

    /* style label */
    input.radio:empty ~ label {
        position: relative;
        float: left;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        input.radio:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
